body {
  margin: 0px;
  background-color: #111111;
  color: #bbbbbb;
  margin-left: auto;
  padding-bottom: 100px;
}

p {
  color: #bbbbbb;
}

#numBodiesInput {
  margin-bottom: 0;
  height: 50px;
  width: 125px;
  color: #bbbbbb;
}

#header {
  text-align: center;
  padding: 20px;
  display: flex;
}

#controlHeader {
  margin-left: 60px;
  margin-right: 20px;
  border: none;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

details[open]>summary {
  margin-bottom: 0;
}

#buttons a {
  width: 100px;
  height: 30px;
  line-height: 0;
  font-size: 20px;
  margin-right: 10px;
}

#buttons a i {
  line-height: 0;
}

#container {
  width: 800px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  margin: 0 auto;
}

#controls {
  border: 1px solid #666666;
  padding: 10px;
  position: absolute;
  background-color: #111111;
  margin-top: 25px;
}

.hControl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  color: #bbbbbb;
}

#simulations {
  color: #bbbbbb;
}

#canvas {
  border: 1px solid #666666;
  /* background-image: linear-gradient(skyblue, white); */
  background-color: black;
}

.slidecontainer {
  color: #bbbbbb;
  width: 260px;
}
